<script>
  function ohayou() {
  alert("Hello!");
}
</script>
<h1>HTML5カメラ</h1>
<input type="button" value="OK" onclick="ohayou()">
<video id="camera" width="300" height="200"></video><br>
<form>
  <button type="button" id="shutter">シャッター</button>
</form><br><br>
<canvas id="picture" width="300" height="200"></canvas>
<form>
  <a type="button" href="/home/next1">取り込み</a>
</form>

<audio id="se" preload="auto">
  <source src="camera-shutter1.mp3" type="audio/mp3">
</audio>
