<style>
label {
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
}
</style>

<label for="file_photo">
    ＋写真を選択
    <input type="file" id="file_photo" style="display:none;">
</label>

<input type="button" accept="image/*">カメラ起動</input><br><br>
<input type="file" accept="image/*" capture="camera" id="camera">
<img id="frame">
<script>
  var camera = document.getElementById('camera');
  var frame = document.getElementById('frame');

  camera.addEventListener('change', function(e) {
    var file = e.target.files[0];
    // Do something with the image file.
    frame.src = URL.createObjectURL(file);
  });
</script>
